<h1>My account</h1>

<!--    -->
<a href="{% url 'landingpage' %}">home</a>

<div>
    {% if request.user.is_authenticated %}
        <p>Logged in as {{request.user}}</p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'mylistings' %}">My Listings</a>
        <a href="{% url 'newlisting' %}">newlisting</a>

    {% else %}
        <p>No user is currently logged in</p>
        <p>login here</p>
        <form method = "POST">
            {% csrf_token %}
            <div>
                <input  type="text" placeholder="Email" name="email">
                <input  type="password" placeholder="Password" name="password">
                <button type="submit" name="login">Login</button>
            </div>
            
        </form>
        <p>or register a new account here</p>
        <form method = "POST">
            {% csrf_token %}
            <div>
                <input  type="text" placeholder="Email" name="email">
                <input  type="text" placeholder="Username" name="username">
                <input  type="password" placeholder="Password" name="password1">
                <input  type="password" placeholder="Confirm Password" name="password2">
                <button type="submit" name="register">Register</button>
            </div>
            
        </form>
    {% endif %}
</div>