<p>New Listing Page</p>
<a href="{% url 'landingpage' %}">home</a>


<div>
    {% if request.user.is_authenticated %}
        <form action = "" method = "POST" enctype= multipart/form-data>
            {% csrf_token %}
            {{form.as_p}}
            Title: <input type="text" name="Title" placeholder="enter title">
            <p></p>
            Description: <input type="text" name="Description" placeholder="enter description">
            <p></p>
            Price: <input type="text" name="Price" placeholder="enter price">
            <p></p>
   
            Upload Image: <input type="File" name="Images" id="Images">
            <p></p>         
            <button type="submit" name="create_listing">Create Listing</button>

        </form>

    {% else %}

        <p>Not logged in, please <a href="{% url 'login' %}">login</a> to create a new listing</p>
        

    {% endif %}
</div>

